body{
    width: 100%;
}
.header{
    height: 910px;
    background-image: url(image/header/header_fon.jpg);
    background-size: cover;
}
.header_h1{
    font-size: 60px;
    font-family: 'Exo', sans-serif;
    margin: 0;
    text-align: center;
    padding-top: 225px;
}
.header_button_try_now{
    width: 195px;
    height: 50px;
    background-color: #ff6d6d;
    margin-left: 550px;
    margin-top: 20px;
}
.header_button_text{
    font-size: 16px;
    color: white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    padding-top: 17px;
    text-transform: uppercase;
}
.header_subtitle{
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    color: #939497;
}
.section_1{
    height: 720px;
    background-color: blue;
}
.section_2{
    height: 670px;
    background-color: blueviolet;
}
.description{
    height: 550px;
    background-color: rgb(24, 108, 42);
}
.clients{
    height: 645px;
    background-image: url(image/clients/Rectangle\ 26.png);
    background-size: cover;
}
.avatar{
    height: 110px;
    width: 110px;
    margin-top: 50px;
    margin-left: 160px;
}
.clients_block{
    width: 100%;
}
.clients_name{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.clients_jobs{
    color: rgb(207, 13, 13);
    text-align: center;
    padding-top: 20px;
}
.clients_company{
    width: 100%;
}
.company{
    width: 150px;
    height: 75px;
    margin-left: 50px;
}
.browser{
    height: 750px;
    background-color: rgb(181, 73, 73);
}
.try_now{
    height: 460px;
    background-color: rgb(12, 159, 110);
}
.footer{
    height: 330px;
    background-color: rgb(201, 220, 23);
}